*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Courier Prime;
}

nav{
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkgray;
	opacity: 50%;
	position: top;
	top: 0;
	opacity: .85;
	z-index: 500;
}

nav > ul{
	display: flex;
	color: black;
	list-style: none;
}

nav > ul > li{
	font-size: 25px;
	text-indent: 40px;
	margin: 0 20px;
}

nav > ul > li > a:hover{
	color: red;
}

nav > ul > li > a{
	text-decoration: none;
	color: black;
}

header{
	height: 100vh;
	background: url(../images/bg6.jpeg);
	background-position: center;
	background-size: cover;
}

header > div{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact{
	background-color: gray;
	border-radius: 50px;
	border: 5px solid black;
	height: 80%;
	width: 60%;
	text-align: center;
	padding-top: 30px;
	opacity: .85;
}

h1{
	font-size: 50px;
}

h2{
	margin-top: 20px;
	font-size: 30px;
}

h4{
	font-size: 20px;
}

h4:hover{
	color: red;
}

/*Tablet View*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	nav{
		height: 50px;
		width: 100vw;
	}

	nav > ul > li{
		text-indent: 10px;
		font-size: 20px;
	}

	header > div{
		height: 50vh;
		position: relative;
		top: 30px;
	}
}

/*Mobile View*/
@media only screen and (max-width: 400px){
	body{
		width: 100vw;
	}
	nav{
		height: 30px;
	}

	nav > ul > li{
		text-indent: 20px;
		font-size: 15px;
		margin: 0 0;
	}
	header > div{
		height: 50vh;
		width: 100%;
		position: relative;
		top: 30px;
	}

	.contact{
		width: 300px;
	}

	h1{
	font-size: 30px;
	}

	h2{
		margin-top: 15px;
		font-size: 20px;
	}

	h4{
		font-size: 15px;
	}
}