*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Courier Prime;
	scroll-behavior: smooth;
}

header{
	height: 100vh;
	background: url(../images/bg2.jpeg);
	background-size: cover;
	background-position: center;
	border-bottom: 5px solid black;
}

header > div{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 75px;
}

header > div > div > hr{
	color: white;
}

header > div > div{
	width: 100%;
}

header > div > div > h1{
	text-align: center;
	color: white;
	font-size: 70px;
	padding-top: 40px;
	padding-left: 20px;
}

header	> div > div > h3{
	text-align: center;
	color: white;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 30px;
}

header > div > img {
	height: 30vh;
	border-radius: 50%;
	position: relative;
	right: 30px;
	top: 20px;
	z-index: 100;
}

header > div > p{
	color: white;
	font-size: 40px;
	margin: 0 100px;
	position: relative;
	top: 175px;
}

header > div > p > span{
	color: #ff0000;
}

#homenav{
	position: fixed;
	top: 0;
}

nav{
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkgray;
	opacity: 50%;
	position: sticky;
	top: 0;
	opacity: .85;
	z-index: 500;
}

nav > ul{
	display: flex;
	color: black;
	list-style: none;
}

nav > ul > li{
	font-size: 25px;
	text-indent: 40px;
	margin: 0 20px;
}

nav > ul > li > a:hover, a:link, a:visited, a:active{
	color: #ff0000;
}

.aboutme{
	background: url(../images/bg3.jpeg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	border-bottom: 5px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.aboutme > div > h2{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

.aboutme > div > p{
	font-size: 20px;
	margin: 20px 40px;
	padding-top: 75px;
}

.aboutmel, .aboutmer{
	height: 60vh;
	border: 2px solid black;
	margin: 0 20px;
	background-color: lightgray;
	opacity: 0.7;
}

.projectss{
	height: 100vh;
	background: url(../images/bg5.jpg);
	background-position: center;
	background-size: cover;
	border-bottom: 5px solid black;
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
}

.projectss > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
}

.sample-projects > div{
	width: 30%;
}

.sample-projects > div > a >img{
	height: 250px;
	width: 250px;
	border: 3px solid black;
	margin: 0 20px;
	margin-top: 80px;
	transition: .2s;
}

.sample-projects > div > a >img:hover{
	height: 275px;
	width: 275px;
}

.skills{
	height: 100vh;
	background: url(../images/bg4.jpeg);
	background-position: center;
	background-size: cover;
	border-bottom: 5px solid black;
}

.skills > h1{
	font-size: 75px;
	color: whitesmoke;
	text-align: center;
}

.skillset > div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.skillset > div > img{
	height: 200px;
	margin: 10px 30px;
}

footer{
	height: 10vh;
	width: 100%;
	background-color: black;
	padding-top: 20px;
	padding-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div {
	width: 50%;
}

.footerbtn{
	position: relative;
	left: 550px;
	bottom: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	font-size: 50px;
	background-color: lightgray;
	opacity: 0.5;
}

.footerbtn > a:link, a:visited, a:active{
	color: black;
	text-decoration: none;
}

.footerbtn:hover {
	height: 55px;
	width: 55px;	
}

.social-media a{
	color: white;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
	position: relative;
	bottom: 10px;
}

.social-media a:hover{
	opacity: 1;
}

.social-media a:hover, a:focus, a:active, a:visited, a:link{
	text-decoration: none;
}

/*Tablet View*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	header > div{
		flex-direction: column-reverse;
	}

	header > div > div {
		text-align: center;
	}

	header > div > p {
		position: relative;
		top: 100px;
	}
	.aboutme{
		flex-direction: column;
	}

	.aboutme > div > p{
		padding-top: 100px;
	}

	.aboutmel, .aboutmer{
		width: 75%;
	}

	nav{
		height: 50px;
		width: 100vw;
	}

	nav > ul > li{
		text-indent: 10px;
		font-size: 15px;
	}

	.projectss{
		font-size: 30px;
	}

	.sample-projects{
		flex-direction: column;
	}

	.sample-projects > div > a >img{
		height: 200px;
		width: 200px;
		margin-top: 30px;
	}

	.skillset > div > img{
		height: 125px;
		margin: 50px 10px;
	}

	.footerbtn{
		position: relative;
		left: 300px;
	}
}

/*Mobile View*/
@media only screen and (max-width: 400px){
	header > div{
		flex-direction: column-reverse;
	}

	header > div > div {
		text-align: center;
	}

	header > div > img{
	height: 20vh;
	border-radius: 50%;
	position: relative;
	right: 0px;
	top: 0;		
	}

	header > div > p {
		font-size: 20px;
		position: relative;
		top: 50px;
	}
	header > div > div > h1{
	font-size: 40px;
	padding-top: 40px;
	padding-left: 20px;
}

header	> div > div > h3{
	font-size: 20px;
	padding-top: 20px;
	padding-left: 30px;
}
	.aboutme{
		flex-direction: column;
	}

	.aboutmel, .aboutmer{
		width: 90%;
		height: 40vh;
	}

	.aboutme > div > h2{
		font-size: 30px;
	}

	.aboutme > div > p{
		font-size: 10px;
		padding-top: 45px;
	}

	nav{
		height: 30px;
		width: 100vw;
	}

	nav > ul > li{
		text-indent: 10px;
		font-size: 15px;
		margin: 0 0;
	}

	.projectss{
		font-size: 20px;
	}

	.sample-projects{
		flex-direction: column;
	}

	.sample-projects > div > a >img{
		height: 150px;
		width: 150px;
		margin-top: 10px;
		position: relative;
		right: 40px;
	}

	.skillset > div > img{
		height: 70px;
		margin: 50px 10px;
	}

	.footerbtn{
		position: relative;
		left: 125px;
		bottom: 40px;
		height: 30px;
		width: 30px;
		font-size: 30px;
	}

	.social-media a{
		margin: 0.5rem;
		font-size: 1rem;
	}
}