*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Courier Prime;
}

#bgvid{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

header{
	height: 100vh;
	background: url(../images/bg1.jpeg);
	background-size: cover;
	background-position: center;
}

.welcome {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-img {
	height: 50vh;
	border-radius: 50%;
	position: relative;
	left: 70px;
}

.welcome > div{
	position: relative;
	right: 70px;
	bottom: 70px;
	text-align: left;
}

.welcome > div >h2{
	font-size: 60px;
	color: white;
}

.welcome > div > h4{
	font-size: 20px;
	color: white;
}

.welbtn{
	background-color: lightgray;
	text-align: center;
	font-size: 12px;
	height: 40px;
	width: 150px;
	border: none;
	border-radius: 10px;
	position: relative;
	left: 200px;
	top: 50px;
	transition: .2s;
}

.welbtn > a:link, a:visited, a:active{
	color: black;
	text-decoration: none;
}

.welbtn:hover{
	color: black;
	text-decoration: none;
	background-color: #ff0000;
}

/*Tablet View*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.welcome{
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: center;
	}

	.welcome > img{
		height: 30vh;
		position: relative;
		left: 0;
		margin: 100px 100px;
	}

	.welcome > div{
		position: relative;
		right: 0;
		bottom: 50px;
		text-align: center;
	}

	.welbtn{
		text-align: center;
		position: relative;
		left: 0;
		top: 40px;
	}
}	

/*Mobile View*/
@media only screen and (max-width: 400px){
	.welcome{
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: center;
	}

	.welcome > img{
		text-align: center;
		height: 30vh;
		position: relative;
		left: 0;
		bottom: 30px;
		margin: 100px 0;
	}

	.welcome > div{
		position: relative;
		right: 0;
		bottom: 100px;
		text-align: center;
	}

	.welcome > div > h2{
		font-size: 30px;
	}

	.welcome > div > h4{
		font-size: 15px;
	}

	.welbtn{
		text-align: center;
		position: relative;
		left: 0;
		top: 20px;
	}
}